<p>Poštovani,</p>
<p>Vaš zahtev je odobren.</p>
<p>Datum odobravanja zahteva: <%= @process_date %></p>
<p>Šifra pod kojom je zavedeno autorsko delo: <%= @form_number %></p>
<p>Ime i prezime službenika koji je odobrio zahtev: <%= @clerk_full_name %></p>
<p>Referenca na zahtev: http://localhost:3001/a1-forms/<%= @a1_form_id %></p>
