<p>Poštovani,</p>
<p>Vaš zahtev je odbijen.</p>
<p>Datum odbijanja zahteva: <%= @process_date %></p>
<p>Obrazloženje: <%= @comment %></p>
<p>Ime i prezime službenika koji je odobrio zahtev: <%= @clerk_full_name %></p>
<p>Referenca na zahtev: http://localhost:3001/a1-forms/<%= @a1_form_id %></p>
